  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="row" href="/">
      <div class="col">
      <%= image_tag "horizont.png", class:"mx-auto d-block" %>
    </div></a>
  </nav>